*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111924;
  font-family: "Merienda", sans-serif;
}

.container
{
  position: relative;
  width: 330px;
  height: 450px;
  background: #4b00a4;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  
}

.photo, #a3
{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

img
{
  width: 85%;
  margin-top: 3px;
  border-radius: 20px;
  border: 1px solid #fff;
}

.play
{
  position: absolute;
  top: 80%;
  left: 50;
  text-align: center;
  align-content: center;
}

a
{
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 50px;
  text-transform: uppercase;
  transition: .1s;
}


#a1
{
  padding: 7px 30px;
  background: lawngreen;
  color: rgba(0,0,0,.8);
}

#a2
{
  padding: 7px 42px;
  background: red;
  color: rgba(255,255,255,1);
}
.download
{
  position: absolute;
  top: 90%;
  left: 50;
  width: 100%;
  text-align: center;
  align-content: center;
  
}

a:focus, a:active
{
  outline: none;
  text-shadow: none;
}

#a1:focus, #a1:active
{
  padding: 6px 27px;
  font-size: 1.1em;
}

#a2:focus, #a2:active
{
  padding: 6px 37px;
  font-size: 1.1em;
}


.bannerAd
{
  position: absolute;
  top: 10px;
  width: 320px;
  height: 50px;
}